*:focus {
  outline: none; }

.hide {
  display: none!important;
}

html, body, .app {
  margin: 0 auto;
  padding: 0;
  max-width: 600px;
  text-align: center;
}
body {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

.app {
  /* display: none; */
  flex-direction: column;
}

.btn {
  font-size: 10px!important;
}

.main-box{
  width: 100%;
  width: 100%;
  display: table;
  top:0;
}


button {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  margin: 0;
  padding: 1%;
  transition: background 0.3s, color 0.3s;
  user-select: none; }
  button:active {
    background: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.54); }
  button i.material-icons {
    vertical-align: middle; }

.toolbar {
  align-items: center;
  display: flex;
  flex-shrink: 0; }
  .toolbar .name {
    flex-grow: 1;
    padding: 0 8px;
    user-select: none; }
  .toolbar .buttons {
    flex-shrink: 0; }
    .toolbar .buttons button {
      float: left; }


.send-form {
  position:absolute;
  bottom:0;
  height: 100%;
}
.send-form input {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  flex-grow: 1;

  padding: 0 8px; }
  .send-form input::placeholder {
    color: rgba(0, 0, 0, 0.54);
  }
